*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

  .paper,
  .scissors,
  .rock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 15px solid transparent;

    img {
    width: 45%;
  }

    &:hover {
      cursor: pointer;
    }
  }

    .player_choice,
    .pc_choice {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }